* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

header {
  background-image: linear-gradient(to right, red, orange, yellow, green, rgb(83, 203, 243), darkblue, purple);
  box-shadow: rgba(0, 0, 0, 3);
  height: 60px;
  padding: 10px;
}

header input {
  display: inline-block;
  color: white;
  font-size: 32px;
  font-style: italic;
  text-transform: capitalize;
  background: none;
  outline: none;
  border: none;
  background-origin: padding-box;
}

header:before {
  content: 'Search reddit =>';
  display: inline-block;
  color: white;
  font-size: 32px;
  font-style: italic;
  text-transform: capitalize;
}

.articles article {
  padding: 30px 15px;
  background-color: azure;
  color: black;
}

.articles article:nthchild(2n) {
  background-color: #f3f3f3;
}

.articles article:hover {
  background-image: linear-gradient(to right, green, yellow, orange);
}